<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"] - InstaFood.WebUI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!--<link rel="stylesheet" href="~/plugins/jquery-ui/jquery-ui.min.css">-->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    @RenderSection("Styles", required: false)
</head>
<body class="hold-transition sidebar-mini">

    <!-- Site wrapper -->
    <div class="wrapper">

        <partial name="_NavBar" />

        <partial name="_SideMenu" />

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            @RenderBody()
        </div>
        <!-- /.content-wrapper -->

        <footer class="main-footer">
            <div class="float-right d-none d-sm-block">
                <b>Version</b> 1.0.0
            </div>
            <strong>Copyright &copy; 2020 <a href="https://github.com/WarOfDevil">WarOfDevil</a>.</strong> All rights reserved.
        </footer>

    </div>
    <!-- ./wrapper -->

    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!--<script src="~/plugins/jquery-ui/jquery-ui.min.js"></script>-->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/dist/js/adminlte.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
