@page
@model InstaFood.WebUI.Pages.Customer.Cart.OrderConfirmationModel
@{
    ViewData["Title"] = "Order Confirmation";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Order Confirmation</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-area="" asp-page="/Index">Home</a></li>
                    <li class="breadcrumb-item active">Order Confirmation</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">

    <!-- Default box -->
    <div class="card card-solid">
        <div class="card-body">
            <div class="row">
                <p>
                    Your order has been payed successfully! Order number: @Model.OrderId
                    <br />
                    The order will be processed immediately. Please make sure to be on time!
                </p>         
            </div>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->

</section>
