@page
@model InstaFood.WebUI.Pages.Admin.FoodType.UpsertModel
@{
    ViewData["Title"] = "Edit Food";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">

            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-area="" asp-page="./Index">Food</a></li>
                    <li class="breadcrumb-item active">@(Model.FoodTypeObj.Id != 0 ? "Update" : "Create") Food</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">@(Model.FoodTypeObj.Id != 0 ? "Update" : "Create") Food</h3>
                    </div>
                    <form role="form" method="post" asp-action="Upsert">
                        <div class="card-body">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            @if (Model.FoodTypeObj.Id != 0)
                            {
                                <input type="hidden" asp-for="FoodTypeObj.Id" />
                            }
                            <div class="form-group">
                                <label asp-for="FoodTypeObj.Name"></label>
                                <input class="form-control" asp-for="FoodTypeObj.Name">
                                <span class="text-danger" asp-validation-for="FoodTypeObj.Name"></span>
                            </div>
                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">

                            <a asp-page="./Index" class="btn btn-primary">Back to List</a>

                            @if (Model.FoodTypeObj.Id != 0)
                            {
                                <button type="submit" class="btn btn-info">Update</button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-success">Create</button>
                            }

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
